body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Nav Bar */
/*a.navbar-brand {
  font-size: 20px;
}*/

/* Page title */
a.page-title{
  text-decoration: none;
  color: #000000;
}

div.quote-action-bar{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a.quote-action-button{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

img.quote-action-icon {
  object-fit: contain;
  width: 25px;
  opacity: 50%;
}

#btnCreateQuote{
  background: skyblue;
  margin: auto;
}

#btnCreateQuote:hover {
  opacity: 80%;
}