body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.none-style {
  text-decoration: none;
  color: #000000;
}

/* Page title */
a.page-title {
  text-decoration: none;
  color: #000000;
}

/* Quote Details */
.blockquote-text {
  font-family: "Georgia";
  font-size: 20px;
}

.smallText,
input.smallText {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 11px;
  line-height: 14px;
}

.greyText {
  color: #999999;
}

.greenText {
  color: #26724c;
}

.bold {
  font-weight: bold;
}

.middle {
  margin-top: auto;
  margin-bottom: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

/* Quote action */
div.quote-action-bar {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

a.quote-action-button {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

img.quote-action-icon {
  object-fit: contain;
  width: 25px;
  opacity: 50%;
}

#btnCreateQuote {
  background: skyblue;
  margin: auto;
}

#btnCreateQuote:hover {
  opacity: 80%;
}
